In [ ]:
name=input("what is your name? ")
print("hello"+" "+name)
age=input("what is your age?")
print("your age is  "+ age)

In [ ]:
#Int() function in python
num1=int(input("enter first number "))
num2=int(input("enter second number "))
total=num1+num2
print("total is "+ str(total))
print(num1+num2)
print(total)

In [ ]:
name,age= "Deepak",20
print("hello "+name+ " your age is "+ str(age))

In [ ]:
# two or more input in one line
name,age= input("enter your name and age: ").split()
print(name)
print(age)

In [ ]:
# String formatting
name="Deepak"
age=20
print("hello "+name + " your age is "+ str(age))  #ugly syntex
print("hello {} your age is {} ".format(name,age+2))
print(f"hello {name} your age is {age+2}")

In [ ]:
num1=int(input("1st num "))
num2=int(input("2nd num "))
num3=int(input("3rd num "))
# num1,num2,num3=input("enter 3 num comma separated: ").split(",")
total=num1+num2+num3
print(total//3)

In [ ]:
# String Indexing
language = "python"
print(language[2])

In [ ]:
# String Slicing
lang="Python"
print(lang[1:3])

In [ ]:
# Step Argument
print("Important"[1:8:2])

In [ ]:
# Chapter 2 Exercise 2
name=input("enter your name: ")
reverse = name[-1::-1]
print(f"reverse of your name is {reverse}")

In [ ]:
# String method
name= "DeePak KumaR"
#  len() function
lenth = len(name)
print(lenth)
 
# lower() method
print(name.lower())

# upper() method
print(name.upper())

# title method
print(name.title())

# count method
print(name.count("e"))

In [ ]:
# chapter 2 exercise 2
name,character= input("enter your name and single character ").split()
print(len(name))
# print(name.lower().count(char.lower())

In [ ]:
# strip method
name = "    Deepak  Kumar    "
dots = ".............."
print(name+dots)
print(name.lstrip()+dots)
print(name.rstrip()+dots)
print(name.strip() + dots)
print(name.replace(" ","")+dots)

In [ ]:
# find and replace method
string = "she is beautiful and she is good dancer"
print(string.replace(" ","_"))
print(string.replace("beautiful","nice"))

In [ ]:
# center method
name=input("enter your name: ")
print(name.center(len(name)+8, "@"))

In [ ]:
# "if" statement
age =int(input("enter your age: "))
if age >= 15:
  print("you are eligible")
else:
  print("you are not elibible")

In [ ]:
# chapter 3 exercise 1
winning_number = 36
user_input = int(input("enter a number btw 1 and 100: "))
if user_input == winning_number:
  print("YOU WIN!!!")
else:
  if user_input < winning_number:
    print("Too low")
  else:
    print("Too high")

In [ ]:
# "AND" "OR" opertor

In [ ]:
# chapter 3 exercise 2
name = input("enter your name: ")
age = int(input())
if age >= 10 and (name[0] == 'a' or name[0] == 'A'):
  print("you can watch coco movie")
else:
  print("sorry, you cannot watch coco")

In [ ]:
# "IN" keyword
name = "Ironman"
if 'n'in name:
  print("True")
else:
  print("False")

In [ ]:
# check empty or not
name = input("enter your name: ")

if name:
  print(f"your name is {name}")
else:
  print("you didn\'t type anything")

In [ ]:
# while loop
i = 1
while i <= 10:
  print(f"hello world {i}")
  i = i+1

In [ ]:
# sum of numbers
total=0
i = 1
while i <= 10:
  total += i
  i += 1
print(total)

In [ ]:
# chapter 3 exercise 3
n = int(input("enter a number: "))
total=0
i = 1
while i <= n:
  total += i
  i += 1
print(total)

In [ ]:
# Exercise 4
usernum = input("enter a number: ")
# n = len(usernum)
# m = int(usernum[i])
total = 0
i = 0
while i < len(usernum):
  total += int(usernum[i])
  i += 1
print(total)

In [ ]:
# Exercise 5
name=input("please enter your name: ")
temp_var = ""
i = 0
while i < len(name):
  if name[i] not in temp_var:
    temp_var += name[i]
    print(f"{name[i]} : {name.count(name[i])}")
  i += 1