In [ ]:
name=input("what is your name? ")
print("hello"+" "+name)
age=input("what is your age?")
print("your age is  "+ age)

what is your name? Deepak
hello Deepak
what is your age?20
your age is  20

In [ ]:
#Int() function in python
num1=int(input("enter first number "))
num2=int(input("enter second number "))
total=num1+num2
print("total is "+ str(total))
print(num1+num2)
print(total)

enter first number 5
enter second number 6
total is 11
11
11

In [ ]:
name,age= "Deepak",20
print("hello "+name+ " your age is "+ str(age))

hello Deepak your age is 20

In [ ]:
# two or more input in one line
name,age= input("enter your name and age: ").split()
print(name)
print(age)

enter your name and age: deepak 20
deepak
20

In [ ]:
# String formatting
name="Deepak"
age=20
print("hello "+name + " your age is "+ str(age))  #ugly syntex
print("hello {} your age is {} ".format(name,age+2))
print(f"hello {name} your age is {age+2}")

hello Deepak your age is 20
hello Deepak your age is 22
hello Deepak your age is 22

In [ ]:
num1=int(input("1st num "))
num2=int(input("2nd num "))
num3=int(input("3rd num "))
# num1,num2,num3=input("enter 3 num comma separated: ").split(",")
total=num1+num2+num3
print(total//3)

1st num 4
2nd num 5
3rd num 3
4

In [ ]:
# String Indexing
language = "python"
print(language[2])

t

In [ ]:
# String Slicing
lang="Python"
print(lang[1:3])

yt

In [ ]:
# Step Argument
print("Important"[1:8:2])

motn

In [ ]:
# Chapter 2 Exercise 2
name=input("enter your name: ")
reverse = name[-1::-1]
print(f"reverse of your name is {reverse}")

enter your name: abcde
reverse of your name is edcba

In [ ]:
# String method
name= "DeePak KumaR"
#  len() function
lenth = len(name)
print(lenth)
 
# lower() method
print(name.lower())

# upper() method
print(name.upper())

# title method
print(name.title())

# count method
print(name.count("e"))

12
deepak kumar
DEEPAK KUMAR
Deepak Kumar
2

In [ ]:
# chapter 2 exercise 2
name,character= input("enter your name and single character ").split()
print(len(name))
# print(name.lower().count(char.lower())

In [ ]:
# strip method
name = "    Deepak  Kumar    "
dots = ".............."
print(name+dots)
print(name.lstrip()+dots)
print(name.rstrip()+dots)
print(name.strip() + dots)
print(name.replace(" ","")+dots)

    Deepak  Kumar    ..............
Deepak  Kumar    ..............
    Deepak  Kumar..............
Deepak  Kumar..............
DeepakKumar..............

In [ ]:
# find and replace method
string = "she is beautiful and she is good dancer"
print(string.replace(" ","_"))
print(string.replace("beautiful","nice"))

she_is_beautiful_and_she_is_good_dancer
she is nice and she is good dancer

In [ ]:
# center method
name=input("enter your name: ")
print(name.center(len(name)+8, "@"))

enter your name: Deepak
@@@@Deepak@@@@

In [ ]:
# "if" statement
age =int(input("enter your age: "))
if age >= 15:
  print("you are eligible")
else:
  print("you are not elibible")

enter your age: 14
you are not elibible

In [ ]:
# chapter 3 exercise 1
winning_number = 36
user_input = int(input("enter a number btw 1 and 100: "))
if user_input == winning_number:
  print("YOU WIN!!!")
else:
  if user_input < winning_number:
    print("Too low")
  else:
    print("Too high")

enter a number btw 1 and 100: 36
YOU WIN!!!

In [ ]:
# "AND" "OR" opertor

In [ ]:
# chapter 3 exercise 2
name = input("enter your name: ")
age = int(input())
if age >= 10 and (name[0] == 'a' or name[0] == 'A'):
  print("you can watch coco movie")
else:
  print("sorry, you cannot watch coco")

enter your name: anurag 16
16
you can watch coco movie

In [ ]:
# "IN" keyword
name = "Ironman"
if 'n'in name:
  print("True")
else:
  print("False")

True

In [ ]:
# check empty or not
name = input("enter your name: ")

if name:
  print(f"your name is {name}")
else:
  print("you didn\'t type anything")

enter your name:
you didn't type anything

In [ ]:
# while loop
i = 1
while i <= 10:
  print(f"hello world {i}")
  i = i+1

In [ ]:
# sum of numbers
total=0
i = 1
while i <= 10:
  total += i
  i += 1
print(total)

55

In [ ]:
# chapter 3 exercise 3